@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:#1c1c1c;
    font-family: 'Merriweather Sans', sans-serif;
    overflow: hidden;
}

.main {
    position: relative;
    height: 100vh;
    padding: 0 0 0 300px;
    background: #121212;
    overflow: auto;
    scroll-behavior: smooth;

    @media (max-width: 868px) {
        padding: 0;
    }

    .menuBurger {
        position: absolute;
        margin: 30px 0 0 30px;
        display: none;
        font-size: 30px;
        position: absolute;
        z-index: 1100;
        color: orange;
        cursor: pointer;
        transition: 0.1s all;


        @media (max-width: 868px) {
            display: block;
        }
    }
}



::-webkit-scrollbar {
    width: 8px;
    height:8px;
}
::-webkit-scrollbar-track {
    background:black;
}
::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 8px;
}
