h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;

    @media (max-width: 320px) {
        font-size: 21px;
    }
}
form {
    position: relative;
    width: 50%;
    border-radius: 30px;
    background: black;

    @media (max-width: 912px) {
        width: 90%;
        
    }

    @media (max-width: 320px) {
        width: 90%;
        height: 300px;
    }

    .formInner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;

        @media (max-width: 320px) {
            padding: 10px;
        }
    
        button {
        
            padding: 10px 10px;
            width: 150px;
            font-size: 18px;
            border-radius: 40px;
            background: rgba($color: orange, $alpha: 0.3);
            border: 2px solid orange;
            cursor: pointer;
            color: white;
            transition: 0.5s all;

            @media (max-width: 320px) {
                margin-top: 15px;
            }
        
            &:hover {
                background: rgba($color: orange, $alpha: 1);
            }
        }
    }
}


.formInner input,
.formInner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #121212;
    outline: none;
    color: white;

    &:active {
        outline: 1px solid blue;
    }
}
.formInner textarea {
    resize: none;
    overflow: auto;

    @media (max-width: 320px) {
        padding: 15px 15px 40px 15px;
    }
}
/* @media (min-width: 568px) {
    form {
        width: 60%;
    }
}  */
